* {
    font-family: Verdana;
}

body{
    background-image: url("../img/homepoz1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo {
    position: absolute;
    bottom: 0px; /* Adjust the distance from the bottom */
    right: 50px; /* Adjust the distance from the right */
    width: 300px; /* Adjust the width of the logo */
    height: 300px; /* Adjust the height of the logo */
  }

.jumbotron {
    background-color: rgba(0, 255, 0, 0.3); /* Green with 30% opacity */
    border-radius: 1rem;
    padding: 2rem;
    color: white;
    text-align: center;
    font-size: 2rem;
  }

th, td {
    text-align: center;
}
.table thead th {
    color: black;
}

.table {
    background-color: rgb(53, 94, 59);
    color:white;
}
.row{
    height: 70px;
}  

.col-md-4{
    margin-top: 18px;
} 

:placeholder-shown{
    width: 300px;
    height: 30px;
}

.dodatno-form {
    width: 85%;
    border: none;
    border-radius: 3rem;
    padding: 2%;
    align-items: center;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.modal-content {
    background-image: url("../img/poz.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}



